@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --rosequartz: #F2DDDE;
    --serenity: #89ABE3;
    --gradation: linear-gradient(130deg, #F2DDDE 20%, #89ABE3 90%);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

// Button

.btn {
    border: 0px none;
    padding: 2% 10%;
}

.btn-primary {
    background-image: var(--gradation);
    box-shadow: 0px 14px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn-secondary {
    color: var(--rosequartz);
    background-color: transparent;
    border: 1px solid rgba(242, 221, 222, 0.5);
}

// HEADER

header {
    width: 100%;
    height: 80vh;
    background-image: var(--gradation);
    overflow: hidden;

    nav {
        z-index: 2;

        .nav-link {
            border-bottom: 2px solid transparent;
        }

        .nav-link:hover {
            border-bottom: 2px solid black;
        }
    }

    h1 {
        font-size: 7rem;
        opacity: .5;
        bottom: -13%;
    }
}

#header-sub {
    height: 35vh;

    [alt="Cloud1"] {
        top: 70%;
    }

    [alt="Cloud2"] {
        top: 40%;
    }
}

#header-tour {
    height: auto;
    background-image: none;
    z-index: 5;
}

// HERO ANIMATION

@mixin cloudAni($name, $duration) {
    animation: {
        name: $name;
        duration: $duration;
        iteration-count: infinite;
        direction: alternate;
    }
}

[alt="Logo"] {
    top: 35%;
}

[alt="Cloud1"] {
    mix-blend-mode: screen;
    top: 50%;

    @include cloudAni(cloud1, 90s);
}

[alt="Cloud2"] {
    mix-blend-mode: screen;
    top: -50%;
    @include cloudAni(cloud2, 100s);
}

[alt="Cloud3"] {
    mix-blend-mode: screen;
    top: -30%;
    width: 200%;
    @include cloudAni(cloud3, 140s);
    opacity: .5;
}

[alt="Cloud4"] {
    mix-blend-mode: screen;
    top: 15%;
    left: -200%;
    animation: {
        delay: 30s;
    }
    @include cloudAni(cloud4, 90s);
}

[alt="Cloud5"] {
    mix-blend-mode: screen;
    top: -35%;
    right: -200%;
    animation: {
        delay: 30s;
    }
    @include cloudAni(cloud5, 100s);
}

[alt="Cloud6"] {
    mix-blend-mode: screen;
    top: -30%;
    left: -300%;
    width: 200%;
    animation: {
        delay: 30s;
    }
    @include cloudAni(cloud6, 140s);
    opacity: .5;
}

@keyframes cloud1 {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
@keyframes cloud2 {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}
@keyframes cloud3 {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
@keyframes cloud4 {
    from {
        left: -200%;
    }
    to {
        left: 100%;
    }
}
@keyframes cloud5 {
    from {
        right: -200%;
    }
    to {
        right: 100%;
    }
}
@keyframes cloud6 {
    from {
        left: -300%;
    }
    to {
        left: 100%;
    }
}

// MAIN

main {
    section {
        padding: 10% 0;
    }
}

#tour-main {
    padding-top: 20vh;
    background-color: #FF7300;
}

// FOOTER

footer {
    background-color: #272727;

    a {
        color: var(--serenity);
    }

    #footer-sns {
        display: flex;
        column-gap: 10px;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(137, 171, 227, .2);
        }
    }
}


// MAIN DETAILS

// ABOUT

#about-member {
    figcaption {
        display: flex;
        background-image: var(--gradation);
    }

    figure {
        position: relative;
    }

    figure:hover {
        figcaption {
            display: flex;
            position: absolute;
            top: 0;
        }
    }
}

// DISCOGRAPHY

#disco-new {
    img {
        width: 60%;
    }
}

#disco-link {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid var(--serenity);
        color: var(--serenity);
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

#disco-listen {
    background-image: var(--gradation);
}

// TOUR

#main-tour {
    height: 50vh;
    background: {
        image: url('../img/main-tour.jpg');
        position: center;
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    }

    div {
        background-color: rgba(0,0,0,.7);
    }
}

#tour-info {

    iframe {
        width: 100%;
        height: calc(540px*9/16);
    }

    table {
        width: 100%;
    }

    tr {
        background-color: white;
    }

    td {
        padding: 1%;
    }
}

#tour-watch {
    background-color: #230300;
}

#tour-merch {
    background-color: white;
    
    .d-flex {
        a {
            color: var(--serenity);
            font-size: 14px;
            padding-top: 5px;
        }
    }

    .row {
        a {
            color: inherit;
        }
    }
}

// CONTACT

#contact-notice {
    background-image: var(--gradation);

    a {
        color: inherit;
    }
}

#contact-sns {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: white;
    }

    .col-12:nth-child(1) {
        a {
            background-image: linear-gradient(150deg, #F2DDDE 30%, #0BE6C1 100%);
        }
    }
    .col-12:nth-child(2) {
        a {
            background-image: linear-gradient(150deg, #F2DDDE 30%, #FF0000 100%);
        }
    }
    .col-12:nth-child(3) {
        a {
            background-image: linear-gradient(150deg, #F2DDDE 30%, #C13584 100%);
        }
    }
    .col-12:last-child {
        a {
            background-image: linear-gradient(150deg, #F2DDDE 30%, #1DA1F2 100%);
        }
    }
}

// Media query: Tablet

@media (min-width: 768px) {

    #tour-info {
        iframe {
            width: 100%;
            height: calc(696px*9/16);
        }
    }

    #contact-sns {
        a {
            height: 200px;
        }
    }

}

// Media query: Desktop

@media (min-width: 992px) {

    .btn-primary:hover {
        box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.6);
    }

    .btn-secondary:hover {
        background-color: transparent;
        border: 1px solid white;
    }

    @keyframes cloud1 {
        from {
            left: -50%;
        }
        to {
            left: 100%;
        }
    }
    @keyframes cloud2 {
        from {
            right: -50%;
        }
        to {
            right: 100%;
        }
    }
    @keyframes cloud3 {
        from {
            left: -100%;
        }
        to {
            left: 100%;
        }
    }
    @keyframes cloud4 {
        from {
            left: -100%;
        }
        to {
            left: 100%;
        }
    }
    @keyframes cloud5 {
        from {
            right: -100%;
        }
        to {
            right: 100%;
        }
    }
    @keyframes cloud6 {
        from {
            left: -200%;
        }
        to {
            left: 100%;
        }
    }

    footer {

        p {
            a:hover {
                text-decoration: underline;
            }
        }

        #footer-sns {
            display: flex;
            column-gap: 10px;
            justify-content: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba(137, 171, 227, .2);
            }
        }
    }

    #main-tour {
        .btn {
            padding: 1% 5%;
        }
    }

    #main-news {
        a:hover {
            img {
                transition: .4s;
                transform: scale(1.02);
            }
        }
    }

    #about-member {
        figcaption {
            display: none;
            background-image: var(--gradation);
        }
    
        figure {
            position: relative;
        }
    
        figure:hover {
            figcaption {
                display: flex;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
        }
    }

    #tour-info {
        iframe {
            width: 60vw;
            height: calc(60vw*9/16);
        }
    }

    #tour-merch {
        .d-flex {
            a:hover {
                transform: translateY(3px);
            }
        }
        a:hover {
            img {
                transition: .4s;
                transform: scale(1.04);
            }
        }
    }
}